@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.App {
  width: 700px;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  border: 3px dotted red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  text-align: center;
  font-size: 38px;
  font-family: "Monoton", sans-serif;
  margin: 0;
}

.computer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computer p {
  margin: 10px 0px;
  padding: 0;
  font-size: 18px;
  text-align: center;
}

.computer .percentage {
  width: 100px;
  height: 100px;
  font-family: "Monoton", sans-serif;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgb(11, 120, 184);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genealogy {
  background-color: azure;
  width: 400px;
  border-radius: 7px;
  border: 1px dashed gray;
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 10px auto;
}

.genealogy .name {
  font-size: 20px;
  color: rgb(4, 71, 159);
  font-weight: bold;
}

.genealogy .age {
  font-size: 20px;
  margin-left: 5px;
  color: rgb(4, 71, 159);
  font-weight: bold;
}

.genealogy > p {
  font-size: 18px;
  margin: 5px 0px;
  padding: 0;
  font-size: 15px;
  color: rgb(35, 35, 35);
}

.form {
  width: 400px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dotted gray;
}

.data {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.data > input {
  width: 200px;
}

.form > h4 {
  margin: 10px 0;
  padding: 0;
  text-align: center;
}

.opened {
  margin: 10px;
  width: 150px;
  padding: 5px;
  border-radius: 3px;
  color: white;
  background-color: rgb(11, 120, 184);
}

.closed {
  margin: 10px;
  width: 150px;
  padding: 5px;
  border-radius: 3px;
  color: white;
  background-color: rgb(119, 9, 37);
}

.btn {
  width: auto;
  display: flex;
}
